.App {
    text-align: center;
}

.back_headers {
    font-size: medium;
    text-align: left;
    font-weight: 600;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-bottom: 5px;
    line-height: 1;
}

.front_header {
    font-size: medium;
    color: orange;
    font-weight: 600;
}
